body{
    font-family:Arial, Helvetica, sans-serif;
    margin:auto;
    overflow-x: hidden;
}

footer{
    background-color: #da460c;
    padding: 20px;
    width: 100%;
    display: block;
    text-align: center;
    color:#ffff;
}
form{
    margin: auto;
    height: 100vh;
    margin-top: 15vh;
    display:flex;
    flex-direction: column;
    gap: 12px;
    width: 500px;
}
::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #070202;
  }

  ::-webkit-scrollbar-thumb {
    background: #da460c;
  }
button{
    padding: 20px;
    background-color: #da460c;
    color: #ffff;
    border: none;
    border-radius: 4px;
}

input, textarea{
    border: 1px solid #da460c;
}
input:focus, textarea:focus, button{
    outline: none;
}
input {
    padding: 10px;
}

header{
    background-color: #da460c;
    padding: 20px;
    display: block;

}
nav ul li a{
    text-decoration: none;
    color: #ffff;
    padding: 10px;

}

nav ul li{
    list-style-type: none;
    
}

nav{
    display: block;
    text-align: right;
}
nav ul li:last-child{
    margin-right: 18px;
}