:root{
    --primary-color: #22254b;
    --secondary-color: #373b69;
    --color: #7378c5;
}

.search{
    height: 50vh;
    /* box-sizing: border-box; */
}

::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #da460c;
  }
h1{
    border: 8px solid #da460c;
    border-left: #da460c;
    border-right: #da460c;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
}
footer {
    background-color: #da460c;;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
footer a:hover {
    color: #ffd700;
}

input{
    padding: 20px;
    width: 60%;
    margin-top: 10%;
    border: none;
    border: solid 1px;
    background-color: #fff;
    border-color: #da460c;
    color:#da460c;
    border-radius: 36px;
}

button{
    padding: 3%;
    height: 12px;
    margin-top: 10%;
}

img{
   height: 75%;
   width: 100%; 
}
input:focus{
    outline: none;
}
input::placeholder{
    color: #da460c;
}
.hero{
    background-image: url("./pexels-jane.jpg");
    height: 50vh;
    text-align: center;
}

span, p{
    /* color:#da460c; */
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about{
    text-align: center;
}
.meals{
    margin: 3px;
    margin-bottom: 20px;
    height: 400px;
    width: 300px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 4px #ee4806;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.about-container{
    max-width: 1000px;
    margin: auto;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #ffd700;
}
footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
footer a:hover {
    color: #ffd700;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    margin:auto;
    overflow-x: hidden;
}

header {
    background-color: #da460c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}